<div class="flex flex-wrap items-center justify-evenly h-40 bg-blue-200 lg:w-full md:w-full sm:w-full">


  <div class="w-32 h-32 bg-blue-100 rounded-md flex justify-center items-center">
    <div class="w-24 h-24 bg-blue-100 rounded-md flex justify-center items-start m-1">
      <div class="w-12 h-12   gota m-3 rounded-full">
        <div class="w-2 h-2  gota  m-3 rounded-full"></div>
        <div class="w-1 h-1 left-1 gota  m-3 rounded-full"></div>

      </div>

    </div>

  </div>

  <div class="w-32 h-32 bg-blue-300 rounded-md">

  </div>

  <div class="w-32 h-32 bg-blue-300 rounded-md">

  </div>

  <div class="w-32 h-32 bg-blue-300 rounded-md">

  </div>


  <div class="w-32 h-32 bg-blue-300 rounded-md">

  </div>

  <div class="w-10 h-10 bg-red-200 rounded-md flex justify-center items-center">
    <button class="">X</button>
  </div>



</div>
