.gota {
  background: #b7d8e9;
  box-shadow: inset 10px 10px 10px rgba(0, 0, 0, .05),
  15px 25px 10px rgba(0, 0, 0, 0.05),
  15px 20px 20px rgba(0, 0, 0, 0.05),
  inset -10px -10px 15px rgba(255,255,255,0.9);
  position: relative;
  overflow: hidden;

}

.wave {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-90%);
  width: 100%;
  height: 10%; /* Ajusta la altura de la wave */
  background: rgba(5, 230, 251, 0.608);
  border-radius: 50% 90%;
  animation: wave-animation 1s infinite ease-in-out;
}

.wave1 {
  position: absolute;
  bottom: 0;
  left: 56%;
  transform: translateX(-50%);
  width: 100%;
  height: 26%; /* Ajusta la altura de la wave */
  background: rgba(206, 209, 246, 0.5);
  border-radius: 90% 2% 40%;
  animation: wave-animation 1s infinite ease-in-out;
}

.wave2 {
  position: absolute;
  bottom: 0;
  left: 46%;
  transform: translateX(-30%);
  width: 100%;
  height: 29%; /* Ajusta la altura de la wave */
  background: rgba(158, 243, 249, 0.5);
  border-radius: 90% 2% 40%;
  animation: wave-animation 1s infinite ease-in-out;
}

.wave:nth-child(1) {
  animation-delay: 0s;
}

.wave1:nth-child(2) {
  animation-delay: 0.2s;
}

.wave2:nth-child(3) {
  animation-delay: 0.6s;
}

@keyframes wave-animation {
  0% {
    transform: translateX(-50%) translateY(0);
  }
  50% {
    transform: translateX(-40%) translateY(-10%); /* Movimiento a la izquierda y hacia arriba */
  }
  100% {
    transform: translateX(-50%) translateY(0);
  }
}



.sidenav {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;

  transform: translateY(87%);
  transition: transform 0.5s ease-in-out;
  background-color: #f0f0f0;
  overflow: hidden;
}

.sidenav.open {
  transform: translateY(0);
}

.raya {
  width: 40px;
  height: 4px;
  background-color: #0070f3;
  margin: 10px auto;
  cursor: pointer;
}


