

<div class="sidenav h-64 lg:w-full md:w-full md:h-36 sm:w-full " [ngClass]="{'open': isSidebarVisible}">

<div class="p-1 bg-blue-100 flex justify-center" (click)="toggleSidebar()">
 <div class=" m-1 w-9 h-1 bg-blue-600 rounded-sm"></div>
  </div>


  <div class="flex flex-wrap md:flex-wrap sm:h-auto items-center justify-evenly h-60 bg-blue-200"  >
    <div class="w-24 h-24 bg-blue-100 rounded-md flex justify-center items-center m-2" >
      <div class="w-22 h-22 bg-blue-100 rounded-md flex justify-center items-start m-1">
        <div class="w-20 h-20 gota m-3 rounded-full">
          <div class="text-center mt-1 text-xs ">Sau</div>
          <div class="text-center mt-1 text-sm ">25/10/2024</div>
          <div class="wave"></div>
          <div class="wave1"></div>
          <div class="wave2"></div>
          <div class="w-2 h-2 gota m-3 rounded-full"></div>
          <div class="w-1 h-1  left-1 gota  m-3 rounded-full"></div>
        </div>
      </div>
    </div>


  <div class="w-24 h-24 bg-blue-100 rounded-md flex justify-center items-center m-2" >
    <div class="w-22 h-22 bg-blue-100 rounded-md flex justify-center items-start m-1">
      <div class="w-20 h-20 gota m-3 rounded-full">
        <div class="mt-1 text-xs text-center">Nivell <br>Absolut</div>
        <div class="text-center mt-1 text-sm">200</div>
        <div class="wave"></div>
        <div class="wave1"></div>
        <div class="wave2"></div>
        <div class="w-2 h-2 gota m-3 rounded-full"></div>
        <div class="w-1 h-1  left-1 gota  m-3 rounded-full"></div>
      </div>
    </div>
  </div>



  <div class="w-24 h-24 bg-blue-100 rounded-md flex justify-center items-center m-2">
    <div class="w-22 h-22 bg-blue-100 rounded-md flex justify-center items-start m-1">
      <div class="w-20 h-20   gota m-3 rounded-full">
        <div class="text-center mt-1 text-xs">Volum embassat</div>
        <div class="text-center mt-1 text-sm ">21</div>
        <div class="wave"></div>
        <div class="wave1"></div>
        <div class="wave2"></div>
        <div class="w-2 h-2  gota  m-3 rounded-full"></div>
        <div class="w-1 h-1 left-1 gota  m-3 rounded-full"></div>
      </div>
    </div>
  </div>

  <div class="w-24 h-24 bg-blue-100 rounded-md flex justify-center items-center m-2">
    <div class="w-22 h-22 bg-blue-100 rounded-md flex justify-center items-start m-1">
      <div class="w-20 h-20 gota m-3 rounded-full">
        <div class="text-center mt-1 text-xs">Volum <br>%</div>
        <div class="text-center mt-1 text-sm">22%</div>
        <div class="wave"></div>
        <div class="wave1"></div>
        <div class="wave2"></div>
        <div class="w-2 h-2  gota  m-3 rounded-full"></div>
        <div class="w-1 h-1 left-1 gota m-3 rounded-full"></div>
      </div>
    </div>
  </div>





</div>

</div>
