<div class="w-full bg-gradient-to-r from-cyan-100 to-blue-100 text-gray-700">
  <nav class="flex max-w-screen-xl px-5 mx-auto md:items-center md:justify-between md:flex-row  lg:px-8">
    <!-- Contenedor del logo -->
    <div class="flex items-center">
      <a href="#" class="text-lg font-semibold tracking-widest text-lime-950 uppercase rounded-lg dark-mode:text-white focus:outline-none focus:shadow-outline">Claustrum Aquae</a>
      <img src="https://i.ibb.co/0M7ZsMm/gota-de-agua-1.png" alt="gota de agua" class="w-8 h-12 ml-2">
    </div>

    <!-- Contenedor de los enlaces (a la derecha) -->
    <div class="flex ml-auto items-center">
      <button class="w-20 bg-blue-400 rounded-lg ml-2">
        <a [routerLink]="['/']">Inicio</a>
      </button>
      <button class="w-20 bg-blue-400 rounded-lg ml-2">
        <a [routerLink]="['/story']" routerLinkActive="active">Historia</a>
      </button>
    </div>
  </nav>
</div>
