
  <div class="w-full text-gray-700 bg-blue-50 dark-mode:text-gray-200 dark-mode:bg-gray-800">
    <nav  class="flex flex-col max-w-screen-xl px-4 mx-auto md:items-center md:justify-start md:flex-row md:px-6 lg:px-8">
      <div class="flex flex-row items-center justify-evenly p-4">
        <a href="#" class="text-lg font-semibold tracking-widest text-lime-950
         uppercase rounded-lg dark-mode:text-white focus:outline-none focus:shadow-outline">Claustrum Aquae</a>
        <img src="https://i.ibb.co/0M7ZsMm/gota-de-agua-1.png"  alt="gota de agua" class="w-8 h-12 ml-2">


      </div>


    </nav>
  </div>

