<h1 class="md:ml-20 md:mr-20 ml-3 mr-3 text-3xl font-bold bg-gradient-to-r from-cyan-200 to-blue-100  p-2 mb-8">
  {{"InfoTipstitle" | translate}}
</h1>
<h3 class="md:ml-20 md:mr-20 ml-3 mr-3 text-1xl font-bold bg-gradient-to-r from-cyan-50 to-blue-100 p-1">
  {{"InfoTipsSubs"|translate}}</h3>

<div class="grid grid-cols-1 h-auto md:grid-cols-2 md:ml-20 md:mr-20 gap-3 rounded-lg mb-8 mt-2">
  <div class="w-auto especie1 bg-slate-100 p-3 rounded-sm shadow-lg">
    <p class="text-red-500 bg-gradient-to-r from-sky-50 to-indigo-100 p-2 font-bold text-sm">{{"InfoTipsAlt"|translate}}
    </p>
    <img class="w-full object-cover h-36"
      src="https://img.freepik.com/foto-gratis/vista-superior-persona-que-lava-manos-fregadero_23-2148602935.jpg?t=st=1730996523~exp=1731000123~hmac=a89eaa4168b5ad43880f59046cec18ebe496fd32b7371aa4b0268946550baf30&w=826"
      [alt]="'InfoTipsAlt' | translate" />
    <p class="mt-2 text-center">{{"InfoTipsParag1"|translate}}</p>
  </div>

  <div class="w-auto especie1 bg-slate-100 p-3 rounded-sm shadow-lg">
    <p class="text-red-500 bg-gradient-to-r from-sky-50 to-indigo-100 p-2 font-bold">{{"InfoTipstitle1" | translate}}
    </p>
    <img class="w-full object-cover h-36"
      src="https://img.freepik.com/foto-gratis/aseo-nadie-blanca-wc_1203-3837.jpg?t=st=1730997791~exp=1731001391~hmac=3cfc29b08ef416f0b28b6702ce282fdbb4674df6b7536de2d886d7ac9a144618&w=360"
      [alt]="'InfoTipsAlt1 | translate'" />
    <p class="text-xs w-full text-center p-1 font-bold">{{"InfoTipssubs2"|translate}}</p>
    <p class="mt-2 text-center">{{"InfoTipssubs2"|translate}}</p>
  </div>

  <div class="w-auto especie1 bg-slate-100 p-3 rounded-sm shadow-lg">
    <p class="text-red-500 bg-gradient-to-r from-sky-50 to-indigo-100 p-2 font-bold">{{"InfoTipstitle2"|translate  }}
    </p>
    <img class="w-full object-cover h-36"
      src="https://img.freepik.com/foto-gratis/hombre-tiro-medio-cantando-ducha_23-2150323096.jpg?t=st=1730998375~exp=1731001975~hmac=c1afcd8a2364c6b4e47405ba13e37554bac3532a0e7988f092f3f913eca6715f&w=900"
      [alt]="'InfoTipsAlt2 |translate'" />
    <p class="text-xs w-full text-center p-1 font-bold">{{"InfoTipssubs3"|translate}}
    </p>
    <p class="mt-2 text-center">{{"InfoTipsParag3"|translate}}</p>
  </div>

  <div class="w-auto especie1 bg-slate-100 p-3 rounded-sm shadow-lg">
    <p class="text-red-500 bg-gradient-to-r from-sky-50 to-indigo-100 p-2 font-bold"> {{"InfoTipstitle3"|translate}}
    </p>
    <img class="w-full object-cover h-36"
      src="https://img.freepik.com/foto-gratis/plato-limpio-plato-rack_1339-7043.jpg?t=st=1731000067~exp=1731003667~hmac=bd01b7793ba26e6d9f1a30d3179b67721baa17b88d9f5d527d0341ba5b87983f&w=360"
      [alt]="'InfoTipsAlt3'|translate " />
    <p class="text-xs w-full text-center p-1 font-bold">{{"InfoTipssubs4"|translate}} </p>
    <p class="mt-2 text-center">{{"InfoTipsParag4"|translate}}
    </p>
  </div>

  <div class="w-auto especie1 bg-slate-100 p-3 rounded-sm shadow-lg">
    <p class="text-red-500 bg-gradient-to-r from-sky-50 to-indigo-100 p-2 font-bold">{{"InfoTipstitle4"|translate}}
    </p>
    <img class="w-full object-cover h-36"
      src="https://images.hola.com/imagenes/decoracion/20210415187823/cultivar-lavanda-plantas-exterior-mc/0-940-990/cultivar-lavanda-3-a.jpg"
      alt="jardi amb plantes autoctónes" />
    <p class="text-xs w-full text-center p-1 font-bold">{{"InfoTipssubs5"|translate}}</p>
    <p class="mt-2 text-center">{{"InfoTipsParag5"|translate}}</p>
  </div>


  <div class="w-auto especie1 bg-slate-100 p-3 rounded-sm shadow-lg">
    <p class="text-red-500 bg-gradient-to-r from-sky-50 to-indigo-100 p-2 font-bold"> {{"InfoTipstitle6" | translate}}
    </p>
    <img class="w-full object-cover h-36"
      src="https://img.freepik.com/foto-gratis/hombres-descansando-piscina-patio_23-2148107904.jpg?t=st=1731000958~exp=1731004558~hmac=54c5efd6e29023d4b070cfb70481f2aa20a18f878e3e17e78dfea787afc42bfc&w=826"
      alt="piscina molt cuidada" />
    <p class="text-xs w-full text-center p-1 font-bold">{{"InfoTipssubs6"|translate}}</p>
    <p class="mt-2 text-center">{{"InfoTipsParag6"| translate}} </p>
  </div>

</div>
