<div class="w-screen">
  <div class="fondo h-[calc(100vh-56px)] flex flex-col justify-center items-center text-center">
    <h1 class="text-white font-extrabold text-9xl Letrasconfondo mt-8">404</h1>
    <h1 class="text-2xl font-extrabold">{{"ErrorPage"|translate}}</h1>
    <h2 class="text-1xl">{{"PageNotFound"| translate}}</h2>
    <iframe src="https://lottie.host/embed/065c97e9-fc1d-4270-bef6-25a3e95ae995/AQqb5YktOl.json"
      class="w-full h-full md:w-full md:h-full lg:w-full lg:h-full"></iframe>
  </div>
