.fondo{
  object-fit: cover;
  background-image:url("https://img.freepik.com/foto-gratis/salamandra-salvaje-hermosa-habitat-natural_475641-347.jpg?t=st=1731069350~exp=1731072950~hmac=5d5ac285c756b94ec61d81a60957b99267cbfdaa83652a6778db72c425de47d9&w=826") ;
  background-size: cover;
}
