<div *ngIf="!isCoverPageVisible">
  <div
    class="container  bg-gradient-to-r from-cyan-100 to-blue-100 prueba md:w-8/12 h-28 md:flex-row flex  sm:flex-row sm:h-14  md:h-14 p-2 mt-2 rounded-sm">
    <app-selectors class="w-full"></app-selectors>
    <div class="prueba">

    </div>


  </div>

  <div #mapDiv class="map-container">
  </div>
</div>

<div *ngIf="!isCoverPageVisible">
  <app-sidenav></app-sidenav>
</div>


<div class="map1 flex h-[calc(100vh-48px)] w-full" *ngIf="isCoverPageVisible">
  <app-slider-transition />

  <div class="overlay flex flex-col justify-center items-center">
    <h6 class="text-1xl  text-amber-200 line-clamp-3  bg-blue-600 ">{{'MapSubtitle' | translate}}</h6>
    <h1 class="text-5xl font-extrabold text-amber-300 drop-shadow-lg title1">Claustrum</h1>
    <h3 class="text-4xl  text-white font-extrabold title2 0">Aqvae</h3>
    <button class="w-24 mt-3 h-9 p-1 bg-blue-600 rounded-md " (click)="isVisible()">

      <span class="relative text-white font-bold h-3 w-3 ">
        {{'MapSpan'| translate}}
        <span class="animate-ping absolute inline-flex h-4 w-4 mt-2 rounded-full bg-red-600 opacity-75"></span>
        <span class="relative inline-flex rounded-full h-2 w-2 mt-1 ml-1 bg-red-500"></span>
      </span>
    </button>
  </div>

</div>
