
<div class="flex flex-col sm:flex-row md:flex-row  md:ml-20 md:mr-20 justify-center items-center mt-7 pb-3 ml-5 mr-5 p-1 rounded-lg shadow-lg mb-4">
  <div class="p-2">
    <h1 class="text-3xl font-bold bg-gradient-to-r from-cyan-200 to-blue-100 mb-2">La sequera</h1>
    <span class="mt-2">La sequera a Cataluña, és un procés influenciat tant per les <strong>condicions meteorològiques com per decisions
      humanes </strong> que ens genera una reducció de les precipitacions, des de finals del s.XX.</span>
  </div>
  <img
    src="https://m1.quebecormedia.com/emp/emp/636635b0-baaf-11ee-89f7-fb32b8a46919_ORIGINAL.jpg?impolicy=crop-resize&x=0&y=0&w=1200&h=800&width=1000"
    alt="Imatge del embassament de Sau, en plena sequia, l'església de l'antic municipi, sobresurt de les aigues"
    class="rounded w-full p-2 md:w-60">
</div>

<div class="flex flex-col sm:flex-row md:flex-row   mt-12 ml-5 mr-10 p-3 mb-4 rounded-lg shadow-lg md:ml-20 md:mr-20">
  <img src="assets/images/anomaliadelatemperatura.png"  alt="grafic escalfament de la temperatura global a Catalunya" class="rounded w-full p-2 md:w-60"/>
  <div class="p-2">
    <h1 class="text-3xl font-bold mb-7 bg-gradient-to-r from-cyan-200 to-blue-100 ">Les conseqüencies de la Sequera</h1>
    <span class="mb-7  text-justify">Aquestes condicions ens han portat una disminució dels nivells embassaments i
      aqüífers, a més d’un impacte del canvi climàtic que afecta la Conca Mediterrànea amb un escalfament superior a la
      mitjana global. </span>
      <br>
      <br>
    <span class="mb-7 text-1xl  font-bold text-justify"><cite>L’augment de les temperatures, farà que les sequeres siguin cada vegada més frequënts
      i intenses, amb la previsió d’una reducció de la precipitació d’un 50% cap l’any 2100.
    </cite> </span>
  </div>
</div>

<app-species-story/>
<app-info-conciencia/>
<app-info-tips/>

