
<div class="flex flex-col sm:flex-row md:flex-row  md:ml-20 md:mr-20 justify-center items-center mt-7 pb-3 ml-5 mr-5 p-1 rounded-lg shadow-lg mb-4">
  <div class="p-2">
    <h1 class="text-3xl font-bold bg-gradient-to-r from-cyan-200 to-blue-100 mb-2">{{"StoryTitle1"|translate}}</h1>
    <span class="mt-2">{{ "StorySpanStrong1"|translate}} <strong>{{"StorySpanStrong2"|translate}}</strong>{{ "StorySpanStrong3"}}</span>
  </div>
  <img
    src="https://m1.quebecormedia.com/emp/emp/636635b0-baaf-11ee-89f7-fb32b8a46919_ORIGINAL.jpg?impolicy=crop-resize&x=0&y=0&w=1200&h=800&width=1000"
    [alt]= "'StoryImgAlt' | translate"
    class="rounded w-full p-2 md:w-60">
</div>

<div class="flex flex-col sm:flex-row md:flex-row   mt-12 ml-5 mr-10 p-3 mb-4 rounded-lg shadow-lg md:ml-20 md:mr-20">
  <img src="assets/images/anomaliadelatemperatura.png"  [alt]="'StoryImgAlt1' | translate" class="rounded w-full p-2 md:w-60"/>
  <div class="p-2">
    <h1 class="text-3xl font-bold mb-7 bg-gradient-to-r from-cyan-200 to-blue-100 ">{{"StoryTitle2"|translate}}</h1>
    <span class="mb-7  text-justify">{{"StorySpan"| translate}} </span>
      <br>
      <br>
    <span class="mb-7 text-1xl  font-bold text-justify"><cite>{{"StorySpan1" |translate}}
    </cite> </span>
  </div>
</div>

<app-species-story/>
<app-info-conciencia/>
<app-info-tips/>

