


  <div class="flex flex-row  justify-center items-center md:w-4/6 mt-7  ml-40 p-1 bg-blue-100 rounded-lg shadow-lg">

    <div class="text-justify">
      <h1 class= "text-xl font-bold p-2 rounded">La sequera</h1>
    </div>

    <div class="p-2">
     <span>La sequera a Cataluña, és un procés influenciat tant per les condicions meteorològiques com per decisions humanes, que ens genera una reducció de les precipitacions, des de finals del s.XX.</span>
    </div>

    <img src="https://m1.quebecormedia.com/emp/emp/636635b0-baaf-11ee-89f7-fb32b8a46919_ORIGINAL.jpg?impolicy=crop-resize&x=0&y=0&w=1200&h=800&width=1000" class="rounded w-60">

  </div>

  <div class="mt-12 ml-40 md:w-4/6">
    <h1 class="text-4xl mb-7">Les conseqüencies de la Sequera</h1>
    <span class="mb-7 text-justify">Aquestes condicions ens han portat  una disminució dels nivells embassaments i aqüífers,  a més d’un impacte del canvi climàtic que afecta  la Conca Mediterrànea amb un escalfament superior a la mitjana global. </span>


    <span class="mb-7 text-justify"> L’augment  de les temperatures, farà que les sequeres siguin cada vegada més frequënts i intenses, amb la previsió d’una reducció de la precipitació d’un 50% cap l’any 2100.
    </span>
  </div>





