
<section class="slider">
  <img
  [srcset]="images[currentIndex]"
  class="img w-screen h-screen object-cover "
  loading="lazy" />




</section>

<div class="flex flex-row relative mt-4  space-x-2"  >

  <img
 *ngFor="let image of images; let i = index"
 [src]="image"
 (click)="setCurrentIndex(i)"
 [class.selected]="i === currentIndex"
 class="ml-2 w-16 h-16 object-cover cursor-pointer rounded-md border-2"
 [ngClass]="{ 'border-blue-500': i === currentIndex, 'border-transparent': i !== currentIndex }"

  />

</div>





