
<section class="slider">
  <img
  [srcset]="images[currentIndex]"
  class="img w-screen h-[calc(100vh-48px)] object-cover "
  loading="lazy"
  alt="imagenes de rios, pantanos y pantanos secos"
  />

</section>

<div class="flex flex-row relative mt-4  space-x-1"  >
 <!-- <img
 //*ngFor="let image of images; let i = index"
 loading="lazy"
 alt="imagenes de naturaleza"
 [src]="image"
 (click)="setCurrentIndex(i)"
 [class.selected]="i === currentIndex"
 class="ml-2 w-16 h-16 object-cover cursor-pointer rounded-md border-2"
 [ngClass]="{ 'border-blue-500': i === currentIndex, 'border-transparent': i !== currentIndex }"

  />

-->

@for ( i of indices; track i) {
  <img
    [src]="images[i]"
    loading="lazy"
    (click)="setCurrentIndex(i)"
    [class.selected]="i === currentIndex"
    class="ml-1 w-16 h-16 object-cover cursor-pointer rounded-md border-2"
    alt="imagenes de rios, pantanos y pantanos secos"
    [ngClass]="{ 'border-blue-500': i === currentIndex, 'border-transparent': i !== currentIndex }"
  />
}





</div>





