
<div class="flex flex-col sm:flex-row md:flex-row  md:ml-20 md:mr-20 justify-center items-center mt-7 pb-3 ml-5 mr-5 p-1 rounded-lg shadow-lg mb-8">
  <div class="p-2">
    <h1 class="text-3xl font-bold bg-gradient-to-r from-cyan-200 to-blue-100 mb-2">{{ "ConsciousnessTitle"| translate}}</h1>
    <span class="mt-2">{{"ConsciousnessTitle"| translate}} </span>
  </div>
  <img
    src="https://img.freepik.com/foto-gratis/adolescente-duchandose-reducir-efecto-resaca_23-2150894827.jpg?t=st=1730987829~exp=1730991429~hmac=d008b1df8e7082626a391fb8195d31ad73e5ffe131e9aa6b630e32422a83e1c5&w=826"
    class="rounded w-full p-2 md:w-60" [alt]="'ConsciousAlt' | translate">

</div>


<div class="flex flex-col sm:flex-row md:flex-row  md:ml-20 md:mr-20 justify-center items-center mt-7 pb-3 ml-5 mr-5 p-1 rounded-lg shadow-lg mb-8">
  <img
  src="https://img.freepik.com/foto-gratis/vaso-agua-macro-disparo_53876-14908.jpg?t=st=1730990015~exp=1730993615~hmac=4da6bf8161fcabc6acf357c02b11a6a6c7e93d422a486a72d0f60fdef785d3b5&w=740"
  [alt]="'ConsciousAlt' | translate"
  class="rounded w-full p-2 md:w-60"/>

  <div class="p-2">
    <h1 class="text-3xl font-bold bg-gradient-to-r from-cyan-200 to-blue-100 mb-2" >{{"ConciousEmergency" | translate}}</h1>
    <span  class="mt-2">{{'ConciousEmerParagraf'| translate }} </span>
  </div>
</div>


